<h1 style="text-align: center;"> Recettes </h1>
<br /><br /><br />
<h2>Recette :&emsp; <%= @recetteById.titre %>
</br> </h2>
<ul>
  <% for i in 0..@recetteById.ingredients.length-1 %>
    <li>
      <%=@recetteById.recette_ingredients[i].quantite%> <%= @recetteById.recette_ingredients[i].unite%> &emsp; <%= @recetteById.ingredients[i].nom%>
    </li>
  <% end %>
</ul>
<br />
<br />
<%= @recetteById.etapes %>


